/* GENERAL */

* {
    box-sizing: border-box;
}

:root {
    --margen-pequeno: 0.25em;
    --margen-mediano: 0.5em;
    --margen-grande: 1em;

    --color-tinta: black;
    --color-fondo: white;
    --color-fondo-mas-claro: #e0e0e0;
    --color-fondo-claro: lightgray;
    --color-fondo-oscuro: darkgray;
    --color-enlace: #0082cd;
}

html {
    background-image: url(../imgs/imagen.jpg);
}

body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Comfortaa', cursive;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

/* CABECERA */

header {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
    padding: var(--margen-grande) calc(var(--margen-grande) * 2);
    text-align: center;
}

h1 {
    font-family: 'Bungee Spice', cursive;
    margin: 0;
}

/* MENÚ */

body>nav {
    background-color: var(--color-fondo-oscuro);
}

body>nav ul {
    margin: 0;
    padding: var(--margen-mediano);
}

body>nav li {
    list-style: none;
    text-align: center;
}

body>nav a {
    display: inline-block;
    color: var(--color-fondo);
    font-weight: bold;
    padding: var(--margen-pequeno);
    text-transform: uppercase;
    /* font-variant: small-caps; */
}

body>nav a:hover {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
    text-decoration: none;
}

/* MAIN */

main {
    padding: var(--margen-mediano);
}

h2 {
    text-align: center;
}

h3 {
    background-color: var(--color-fondo-claro);
    padding: var(--margen-pequeno);
    border-radius: var(--margen-pequeno); 
}

pre {
    background-color: var(--color-fondo-mas-claro);
    padding: var(--margen-mediano);
    border-radius: var(--margen-mediano);

    overflow: hidden;
}

strong {
    background-color: white;
    padding: var(--margen-pequeno);
    border-radius: var(--margen-pequeno);
}

em {
    background-color: lightgreen;
    padding: var(--margen-pequeno);
    border-radius: var(--margen-pequeno);
}

a {
    text-decoration: none;
    color: var(--color-enlace);
}

a:hover {
    text-decoration: underline;
}

p,
pre,
li,
dt,
dd {
    line-height: 1.5em;
}

dt {
    margin-top: var(--margen-grande);
    font-weight: bold;
}

ol ol {
    list-style: lower-alpha;
}

/* TABLAS */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--color-fondo-mas-claro);
}

caption {
    border-radius: var(--margen-mediano);
}

thead th {
    border-top: 0;
}

tfoot th {
    border-bottom: 0;
}

tbody th,
thead th:first-of-type,
tfoot th:first-of-type {
    border-left: 0;
}

tbody td:last-of-type,
thead th:last-of-type,
tfoot th:last-of-type {
    border-right: 0;
}

thead th:first-of-type {
    border-radius: var(--margen-mediano) 0 0 0;
}

thead th:last-of-type {
    border-radius: 0 var(--margen-mediano) 0 0;
}

tfoot th:first-of-type {
    border-radius: 0 0 0 var(--margen-mediano);
}

tfoot th:last-of-type {
    border-radius: 0 0 var(--margen-mediano) 0;
}

tr:nth-of-type(even) {
    background-color: var(--color-fondo-oscuro);
}

caption,
thead,
tfoot,
th {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
}

caption,
th {
    font-weight: bold;
    margin-bottom: var(--margen-mediano);
}

caption,
th,
td {
    padding: var(--margen-pequeno);
    border: 1px solid var(--color-fondo-claro);
    ;
}

th:first-of-type,
td:first-of-type {
    text-align: right;
}

th:nth-of-type(2),
th:nth-of-type(3),
td:nth-of-type(1),
td:nth-of-type(2) {
    text-align: left;
}

img, figure, audio, video, iframe  {
    width: 100%;
    margin: 0;
    border-radius: var(--margen-mediano);
    border: 0;
}

figure, audio, video, iframe, .contenedor {   
    box-shadow: 1em 1em 2em darkgray;
    margin-bottom: 2em;
}

figcaption {
    padding: var(--margen-mediano);
}

.contenedor {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 9/16 */
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* FORMULARIOS */

label, input, button, select, textarea {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margen-grande);
}

fieldset {
    margin-bottom: var(--margen-grande);
}

fieldset, input, button, select, textarea {
    border-radius: var(--margen-pequeno);
    border: 1px solid var(--color-fondo-oscuro);
    padding: var(--margen-mediano);
}

/* ASIDE */

aside {
    background-color: var(--color-fondo-mas-claro);
    padding: var(--margen-mediano);
}

aside ul {
    padding: 0;
}

aside li {
    text-align: center;
    list-style: none;
}

/* PIE */

footer {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
    padding: var(--margen-mediano);
    text-align: center;
}
